*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
body{
	min-width: 980px;
	color: #000;
	font-family: tahoma,verdana,"微软雅黑";
}
/*清除浮动*/
.clearboth{
	zoom: 1;
}
.clearboth::after{
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
/****************头部****************/
/*头部*/
.header{
	width: 100%;
	height: 45px;
	background-color: #000000;
	}
/*头部导航*/
.headNav{
	width: 980px;
	height: 45px;
	margin: 0 auto;
	zoom: 1;
	}
/*清除浮动*/
.headNav::after{
	content: "";
	display: block;
	clear: both;
	}
/*网站logo*/
.logo{
	display: inline-block;
	float: left;
	width: 330px;
	height: 100%;
	}
h1{	
	float: left;
	width: 329px;
	height: 100%;
	text-align: center;
	}
.imgURL{
	width: 100%;
	height: 100%;
	vertical-align: center;
	text-decoration: none;
	}
.imgURL img{
	margin-top: 7px ;
	border: none;
	width: 329px;
	height: 31px;
	}
/*鼠标移入图片*/
.imgURL img:hover{
	opacity: 0.9;
	}
/*用户信息*/
.userInfo{
	position: absolute;
	display: inline-block;
	float: left;
	width: 600px;
	height: 45px;
	margin-left: 50px;
/*	background-color: black;*/
	}
.userInfo ul{
	position: absolute;
	right: 0;
	line-height: 45px;
	text-align: center;
	zoom: 1;
	}
.userInfo ul::after{
	content: "";
	display: block;
	clear: both;
	}


.userInfo ul li{
	float: left;
	/*opacity: 0.95;*/
	font-size: 12px;
	}
/*a标签样式*/
.userInfo ul li a{
	text-decoration: none;
	line-height: 45px;
	cursor: pointer;
	}

.userInfo ul li:nth-of-type(6):hover .downloadImg{
	display: inline-block;
	}
/*列表*/
.userInfo ul li:nth-of-type(1){
	width: 80px;
	height: 45px;
	text-align: center;
	opacity: 1;
	}
.userInfo ul li:nth-of-type(1) a{
	width: 48px;
	height: 14px;
	color: lightgrey;
	}
.userInfo ul li:nth-of-type(2){
	width: 96.75px;
	height: 45px;
	}
.userInfo ul li:nth-of-type(2) a:nth-of-type(1){
	color: lightgrey;
	width: 37px;
	height: 14px;
	padding-right: 13px;
	}
.userInfo ul li:nth-of-type(2) a:nth-of-type(2){
	color: lightgrey;
	width: 24px;
	height: 14px;
	}
/*鼠标移入*/
.userInfo ul li:nth-of-type(2) a:hover{
		color: white;		
	}
	
.userInfo ul li:nth-of-type(3){
	width: 4.59px;
	height: 45px;
	color: #333333;
	}
.userInfo ul li:nth-of-type(4){
	width: 92px;
	height: 45px;
	opacity: 1;
	}
.userInfo ul li:nth-of-type(4) a{
	width: 60px;
	height: 14px;
	color: gold;
	}
.userInfo ul li:nth-of-type(5){
	width: 4.59px;
	height: 45px;
	color: #333333;
	}
.userInfo ul li:nth-of-type(6){
	position: relative;
	width: 94.47px;
	height: 45px;
	}
.userInfo ul li:nth-of-type(6) a{
	width: 60px;
	height: 14px;
	color: lightgrey;
	}	
/*鼠标移入*/
.userInfo ul li:hover a{
	color: white;
	}
	
/*App下载*/
.userInfo ul li:nth-of-type(6) .download{
	padding: 0 16px;
	display: inline;
	}
ul li .download a svg{
	font-size: 12px;
	color: white;
	opacity: 0.5;
	font-weight: 500;
	width: 10px;
	height: 8.5px;
	margin-right: 8px;
	padding-bottom: 1.5px;			
		}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.userInfo ul li:nth-of-type(6) .downloadImg{
	display: none;
	position: absolute;
	top:43px;
	right: 0px;
	width: 120px;
	height: 120px;
	background: #000;
	overflow: hidden;
	padding: 2px;
	}
.downloadImg img{
	width: 100%;
	vertical-align: top;
	opacity: 1;
	}
/*文字图标*/
ul li i{
	width: 18px;
	height: 13px;
	}
		

/****************导航****************/

/*导航条*/
		.nav{
			width: 980px;
			height: 60px;
			margin: 0 auto;
			zoom: 1;
		}
		/*去除浮动*/
		/*标记*/
		.nav::after{
			content: "";
			display: block;
			clear: both;			
		}
		.nav ul li a{
			text-decoration: none;
			color: black;
		}
		.nav ul{
			float: left;
			width: 650px;
			height: 24px;
			display: inline;
			margin-top: 18px;  /*新增*//*标记*/
			zoom: 1;
		}
		/*去除浮动*/
		.nav ul::after{
			content: "";
			display: block;
			clear: both;
		}
		.nav ul li{
			float: left;
			display: inline;
			top: 50%;
			margin-top: -14px;
		}
		/*首页*/
		.nav ul li:nth-of-type(1){
			float: left;
			position: relative;
			display: inline;
			padding: 0px 4px 0px 13px;
			margin-left: 0px;
			padding-left: 0px;
			height: 24px;
		}
		.nav ul li:nth-of-type(1) a{
			text-decoration: none;
			font-size: 16px;
			padding: 0px 6px 6px;
			margin-left: 0px;
			margin-right: 10px;
			height: 28px;
		}
		.nav ul li:nth-of-type(1) a:hover{
			border-bottom: 3px solid #000;
		}
		/*逛*/
		.nav ul li:nth-of-type(2){
			float: left;
			position: relative;
			display: inline;
			background: url(../img/dot_nav.png)  0 9px no-repeat ;
			padding: 0px 4px 0px 13px ;
			margin-left: 8px;
			height: 24px;
		}
		.nav ul li:nth-of-type(2) a{
			text-decoration: none;
			font-size: 16px;
			padding: 0px 6px 6px;
			margin:  10px;
			height: 25px;
		}
		.nav ul li:nth-of-type(2) a:hover{
			border-bottom: 3px solid #000;
		}
		/*设计师*/
		.nav ul li:nth-of-type(3){
			float: left;
			position: relative;
			display: inline;
			background: url(../img/dot_nav.png)  0 9px no-repeat ;
			padding: 0px 4px 0px 13px;
			margin-left: 8px;
			height: 24px;
		}
		.nav ul li:nth-of-type(3) a{
			font-size: 16px;
			padding: 0px 6px 6px;
			margin: 0 10px;
			text-decoration: none;
			height: 25px;
		}
		.nav ul li:nth-of-type(3) a:hover{
			border-bottom: 3px solid #000;
		}
		/*小站*/
		.nav ul li:nth-of-type(4){
			float: left;
			position: relative;
			display: inline;
			background: url(../img/dot_nav.png) 0 9px no-repeat ;
			padding: 0px 4px 0px 13px;
			margin-left: 8px;
			height: 24px;
		}
		.nav ul li:nth-of-type(4) a{
			font-size: 16px;
			padding: 0px 6px 6px;
			margin: 0 10px;
			text-decoration: none;
			height: 25px;
		}
		.nav ul li:nth-of-type(4) a:hover{
			border-bottom: 3px solid #000;
		}
		
		
		/*搜索框*/
		/*标记*/
		.search{
			margin-top: 15px;  /*新增*/
			float: right;
			width: 330px;
			height: 30px;
			zoom: 1;
		}
		.search::after{
			content: "";
			display: block;
			clear: both;
		}
		.searchInput{
			float: left;
			width: 272px;
			height: 28px;
			border: 1px solid #e2e2e2;
			padding: 0 5px;
			line-height: 28px;
			font-size: 12px;
			vertical-align: middle;
			font-family: arial,tahoma,verdana;
			color: #eaeaea;
			outline: none;
		}
		.searchSubmit{
			float: right;
			width: 43px;
			height: 30px;
			cursor: pointer;
			background: url(../img/pc_new_icon.png) 0 -40px no-repeat;
			border: none;
			font-size: 12px;
			vertical-align: middle;
			font-family: arial,tahoma,verdana;
		}
	
/*内容介绍*/		
.designerContent{
	width: 980px;
	margin: 0 auto;
	text-align: left;
	padding: 20px 0;
	overflow: hidden;
}
/*招募海报*/
.designerContent .topLogo img{
	border: none;
	vertical-align: top;
}
/*申请入驻*/
.designerContent .joinIn{
	padding: 40px 0;
	text-align: center;
}
.designerContent .joinIn .application{
	width: 292px;
	height: 74px;
	line-height: 74px;
	margin:0 auto;
	font-size: 28px;
	border: 2px solid #000000;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	background: url(../img/in.png) no-repeat;
	background-size: 29px 29px;
	background-position: 215px 25px;
	padding-right: 24px;
	box-sizing: border-box;
}
/*关于想去、招募品类、优势*/
.designerContent .contentBox h2{
	width: 233px;
	height: 22px;
	line-height: 0;
	overflow: hidden;
	font-size: 0;
	margin-bottom: 28px;
}
/*.designerContent .contentBox .aboutTitle{
}*/
/*.designerContent .contentBox .categoryTitle{
}*/
.designerContent .contentBox .contentList{
	text-align: center;
}
.designerContent .contentBox .contentList p{
	font-size: 14px;
	text-align: left;
	line-height: 30px;
}
.designerContent .contentBox .contentList img{
	margin-top: 15px;
	border: none;
	vertical-align: top;
}

/*优势*/
.designerContent .contentBox .advantages{
	margin-top: 46px;
}
.designerContent .contentBox .howIn{
	list-style: none;
}
.designerContent .contentBox .howIn li h3{
	font-size: 100%;
	font-weight: 400;
	text-align: left;
}
.designerContent .contentBox .howIn li h3 p{
	width: 110px;
	height: 36px;
	line-height: 36px;
	color: #FFFFFF;
	background-color: #000000;
	font-size: 20px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 8px;
}
.designerContent .contentBox .howIn li h3 .longerP{
	width: 180px;
}
/*线上线下资源*/
.contentBox .contentList li .moreSrc dl{
	display: block;
	font-size: 14px;
	text-align: left;
}
.contentBox .contentList li .moreSrc dl dt{
	padding: 24px 0 13px;
}
.contentBox .contentList li .moreSrc .onlineSrc{
	
}
.contentBox .contentList li .moreSrc .onlineSrc dt{
	font-weight: bold;
}
.contentBox .contentList li .moreSrc .onlineSrc dt span{
	color: #FF004F;
}
.contentBox .contentList li .moreSrc dl dd{
	display: block;
	line-height: 30px;
}
/*即刻入驻*/
.designerContent .freeBox{
	margin-top: 40px;
	padding: 32px;
	border: 2px solid #fe0571;
}
.designerContent .freeBox h2{
	width: 910px;
	height: 179px;
	margin: 0 auto;
	margin-top: -10px;
	font-size: 0;
	line-height: 0;
	background: url(../img/shops-enter-pic03.jpg) no-repeat;
}
.designerContent .freeBox .joinIn{
	padding: 0;
}
.designerContent .freeBox .joinIn .application{
	width: 290px;
	height: 72px;
	line-height: 70px;
	margin:-19px auto 0;
	font-size: 28px;
	font-weight: 400;
	color: #FFFFFF;
	border: 2px solid #000000;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	background: url(../img/inwhite.png) no-repeat;
	background-size: 29px 29px;
	background-position: 215px 25px;
	padding-right: 24px;
	box-sizing: border-box;
	background-color: #000000;
}
/*咨询*/
.designerContent .consultBox{
	padding: 56px 0;
}
.designerContent .consultBox h2{
	display: block;
	font-size: 20px;
	padding-bottom: 15px;
	font-weight: 400;
}
.designerContent .consultBox .consultList dl{
	display: block;
	float: left;
	width: 400px;
	margin-right: 85px;
	text-align: left;
	overflow: hidden;
}
.designerContent .consultBox .consultList dl dt{
	display: block;
	font-size: 20px;
	border-bottom: 1px solid #7f7f7f;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.designerContent .consultBox .consultList dl dd{
	display: block;
	font-size: 20px;
	line-height: 28px;
}

/*底部*/
.footer{
	width: 100%;
	position: relative;
	height: 280px;
	background-color: #000000;
	color: #727272;
	text-align: center;
	}
.footer .footerWrap{
	width: 960px;
	height: 28px;
	margin:0 auto;
}
/*底部logo*/
.footer .footerWrap .footerLogo{
	float: right;
	width: 205px;
	height: 225px;
	overflow: hidden;
	background: url(../img/xq_bottom_img.png) no-repeat;
}
.footer .footerWrap .footerLogo a{
	display: block;
	width: 100%;
	height: 200px;
	padding: 0 5px 0 0;
	text-decoration: none;
	cursor: pointer;
	color: #484848;
}
/*名言*/
.footer .footerWrap .saying{
	height: 90px;
	padding: 25px 0 0;
	margin-right: 285px;
	margin-bottom: 35px;
}
.footer .footerWrap .saying .words{
	font-size: 18px;
	text-align: left;
	color: #FFFFFF;
}
.footer .footerWrap .saying .author{
	padding:25px 0 0;
	font-size: 14px;
	color: #FFFFFF;
	text-align: right;
}
.footer .footerWrap .saying .author em{
	padding-left: 10px;
	font-style: normal;
}
/*copyright*/
.footer .footerWrap .copyright{
	position: relative;
	top: -70px;
	padding: 5px 0 0;
	text-align: left;
	margin-top: 102px;
}
.footer .footerWrap .copyright .wayLink{
	position: relative;
	width: 597px;
	height: 54px;
}
.footer .footerWrap .copyright .wayLink a{
	float: left;
	margin: 0 5px 0 0;
	padding: 0 15px 0 0;
	color: #808285;
	text-decoration: none;
	cursor: pointer;
}
.footer .footerWrap .copyright .wayLink a i{
	height: 18px;
	padding: 0 0 0 22px;
	vertical-align: bottom;
	zoom: 1;
}
.footer .footerWrap .copyright .wayLink a .weiboLink{
	display: inline-block;
	background: url(../img/ico_common.png) no-repeat;
	background-position: -224px -5944px;
	padding-left: 26px;
}
.footer .footerWrap .copyright .wayLink a .doubanLink{
	display: inline-block;
	background: url(../img/ico_common.png) no-repeat;
	background-position: -224px -5976px;
}
.footer .footerWrap .copyright .wayLink a .renrenLink{
	display: inline-block;
	background: url(../img/ico_common.png) no-repeat;
	background-position: -224px -6016px ;
	padding-left: 36px;
}
.footer .footerWrap .copyright .wayLink a span{
	font-size:12px ;		
}
.footer .footerWrap .copyright span:nth-of-type(2){
	position: absolute;
	font-size: 12px;
	top: 8px;
	left: 288px;
}
.footer .footerWrap .copyright .footerHot{
	position: absolute;
	font-size: 12px;
	top: 8px;
	right: 245px;
}
.footer .footerWrap .copyright .footerHot a{
	text-decoration: none;
	color: #808285;
	cursor: pointer;
}
.footer .footerWrap .copyright .footerHot a:nth-of-type(2){
	padding-left: 10px;
}
/*友情链接*/
.footer .footerWrap .friendLink{
	padding: 5px 0 0;
	margin: -40px 285px 0 0;
	margin-right: 240px;
	border-top:1px solid #58595c ;
	text-align: left;
}
.footer .footerWrap .friendLink h3{
	display: inline;
	font-weight: 400;
	font-size: 12px;
	cursor: pointer;
}
.footer .footerWrap .friendLink a{
	cursor: pointer;
	font-size: 12px;
	color: #58595b;
	text-decoration: none;
	margin:0 10px;
	padding: 0;
}

.footer .footerWrap .number{
	padding-right:459px ;
	margin-top: 5px;
}
.footer .footerWrap .number a{
	padding: 0 15px 0 0;
	font-size: 12px;
	color: #484848;
	text-decoration: none;
	cursor: pointer;
}
.footer .footerWrap .number a img{
	width: 15px;
	margin-right: 5px;
	border: none;
	opacity: 1;
}
.footer .footerWrap .footerValid{
	margin-top: 5px;
	margin-right: 456px;
}
.footer .footerWrap .footerValid a{
	padding: 0 15 0 0;
	color: #484848;
	cursor: pointer;
	text-decoration: none;
}
.footer .footerWrap .footerValid a img{
	width: 83px;
	height: 30px;
	vertical-align: top;
	border: none;
	opacity: 1;
}
.footer .footerWrap a:hover{
	text-decoration: underline;
}

/*侧边固定*/
.side{
	position: fixed;
	width: 120px;
	height: 238px;
	right: 9px;
	bottom: 2px;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: 700;
}
.side .exitDownl{
	position: absolute;
	width: 23px;
	height: 23px;
	right: 0;
	top: -23px;
	background: url(../img/ico_common.png) no-repeat;
	background-position: -204px -462px;
	cursor: pointer;
}
.side .sideLogoImg{
	position: relative;
	width: 120px;
	height: 80px;
	background: url(../img/ruzhu_bottom.png) no-repeat;
	margin: 0 auto;
}
.side .sideLogoImg a{
	position: absolute;
	display: inline-block;
	width: 108px;
	height: 26px;
	bottom: 3px;
	left: 5px;
	cursor: pointer;
}
.side .sideDes{
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	margin: 16px auto 12px;
}
.side .sideErImg{
	width: 110px;
	height: 110px;
	background: url(../img/qr.png) no-repeat;
	margin: 0 auto;
}

/*回到顶部*/
.backToTop{
	display: none;
	position: fixed;
	float: left;
	width: 28px;
	height: 90px;
	right: 85px;
	bottom: 340px;
	overflow: hidden;
	background: url(../img/gotop.gif) center bottom no-repeat;
	cursor: pointer;
}
/*建议*/
.advice{
	position: fixed;
	width: 53px;
	height: 53px;
	right: 75px;
	bottom: 285px;
	overflow: hidden;
}
.advice a{
	float: left;
	width: 53px;
	height: 53px;
	background: url(../img/advice.png) no-repeat;
	text-decoration: none;
	cursor: pointer;
}
