*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
body{
	min-width: 980px;
	color: #000;
	font-family: tahoma,verdana,"微软雅黑";
}
/*清除浮动*/
.clearboth{
	zoom: 1;
}
.clearboth::after{
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
/*导航条第二个下划线*/
.nav ul li:nth-of-type(3) a{
	text-decoration: none;
	font-size: 16px;
	padding: 0px 6px 6px;
	margin:  10px;
	height: 25px;
	border-bottom: 3px solid #000;
	}

/*设计师内容*/

/*设计师内容头部*/
section.designerBox{
	width: 100%;
}
section.designerBox .designerHeader{
	width: 980px;
	height: 30px;
	margin: 0 auto;
	background-color: #f6f6f6;
	border-top: 1px solid #b2b2b2;
	overflow: hidden;
}
section.designerBox .designerHeader .designerNav{
	float: left;
	display: inline;
	width: 60%;
	margin-left: -9px;
	list-style: none;
}
.designerNav li{
	float: left;
	width: 65px;
	height: 30px;
	line-height: 30px;
	padding: 0 6px;
	font-size: 13px;
}
.designerNav .currentNav{
	font-weight: 800;
}
.designerNav li img{
	display: none;
	margin-top: 13px;
	border: none;
	vertical-align: top;
}
.designerNav li .navOne{
	display: inline;
	margin-left: 13px;
}
.designerNav li span{
	float: right;
}
.designerNav li span a{
	text-decoration: none;
	color: #000000;
	cursor: pointer;
}
.designerNav li span a:hover{
	text-decoration: underline;
}
.newHot{
	float: right;
	width: 30%;
	text-align: right;
	font-size:12px ;
}
.newHot a{
	padding: 0 15px;
	line-height: 30px;
	text-decoration: none;
	cursor: pointer;
	color: #000000;
	font-size: 12px;
}
.newHot a:hover{
	text-decoration: underline;
}
.newHot .currentNewHot{
	font-weight: 700;
}

/*设计师列表*/
.designerList{
	width: 980px;
	margin: 0 auto;
	padding-bottom: 25px;
}
.designerList .designerIntro{
	list-style: none;
}
.designerList .designerIntro .designSingle{
	width: 100%;
	height: 236px;
	margin-top: 24px;
	overflow: hidden;
}
/*设计师信息*/
.designSingle .designInfo{
	float: left;
	width: 236px;
	height: 236px;
}
/*头像*/
.designSingle .designInfo .designImg{
	float: left;
	width: 123px;
	height: 100%;
}
.designInfo .designImg .desginImgBox{
	width: 122px;
	height: 122px;
	border-radius: 122px;
	background-color: #000000;
}
.designInfo .designImg .desginImgBox a{
	text-decoration: none;
	cursor: pointer;
	color: #000000;
	font-size: 12px;
}
.designInfo .designImg .desginImgBox a:hover{
	opacity: 0.8;
}
.designInfo .designImg .desginImgBox a img{
	width: 122px;
	height: 122px;
	border-radius: 122px;
	vertical-align: top;
	border: none;
}
/*描述信息*/
.designSingle .designInfo .desginDes{
	float: right;
	width: 103px;
	height: 100%;
}
.designInfo .desginDes .designBrand{
	width: 100%;
	height: 40px;
}
.designInfo .desginDes .designBrand a{
	text-decoration: none;
	cursor: pointer;
	color: #000000;
	font-size: 12px;
}
.designInfo .desginDes .designBrand a:hover{
	text-decoration: underline;
}
.desginDes .designBrand .brandCommon{
	display: block;
	width: 103px;
	height: 21px;
	overflow: hidden;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.desginDes .designBrand a .brandTop{
	font-size: 1.2em;
	font-weight: 500;
	letter-spacing: 1px;
}
.desginDes .designFans{
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-top: 13px;
}
.desginDes .designFans .fansImg{
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
}
.desginDes .designFans .fansImg img{
	width: 100%;
	vertical-align: top;
	border: none;
}
.desginDes .designFans .fansNum{
	margin-left: 3px;
	font-size: 12px;
}
.desginDes .designFollow{
	display: block;
	width: 50px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	color: #d4d4d4;
	background-color: #000000;
	margin-top: 20px;
	cursor: pointer;
}
.designWorks{
	list-style: none;
}
.designWorks li{
	position: relative;
	float: left;
	width: 236px;
	height: 236px;
	margin-left: 12px;
	overflow: hidden;
}
.designWorks li .worksImg:hover h3{
	display: none;
	color: #FFFFFF;
}
.designWorks li .worksImg:hover .worksBg{
	display: inline-block;
}
.designWorks li .worksImg{
	display: table-cell;
	width: 236px;
	height: 236px;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
	text-decoration: none;
	cursor: pointer;
	color: #000000;
	font-size: 12px;
}
.designWorks li .worksImg img{
	max-width: 236px;
	max-height: 236px;
	opacity: 1;
	border: none;
	vertical-align: middle;
}
.designWorks li .worksImg img:hover{
	opacity: 0.9;
}
.designWorks li .worksImg .worksName{
	position: absolute;
	width: 100%;
	height: 32px;
	bottom: 0;
	left: 0;
	background-color: #F7F7F7;
	opacity: 0.8;
	z-index: 3;
}
.designWorks li .worksImg .worksName h3{
	height: 32px;
	line-height: 32px;
	color: #6d6666;
	font-size: 14px;
	letter-spacing: 2px;
	overflow: hidden;
	font-weight: 400;
	text-align: center;
}
.designWorks li .worksImg .worksBg{
	position: absolute;
	display: none;
	width: 100%;
	height: 32px;
	line-height: 32px;
	left: 0;
	bottom: 0;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #000000;
	text-align: center;
	text-decoration: none;
	z-index: 4;
	opacity: 0.7;
}

/*加载进度*/
.loadingTips{
	display: none;
	height: 100px;
	margin: 20px auto 30px;
	background: url(../img/loading_xq.gif) center 0 no-repeat;
	background-color: #FFFFFF;
	text-align: center;
}
.loadingTips p{
	padding-top:100px ;
	color: #999999;
}
/*分页*/
.goodsPages{
	/*height: auto;*/
	padding: 20px 0 30px;
	text-align: center;
}
.goodsPages .pageBox{
	margin: 0 auto;
	vertical-align: top;
	text-align: center;
}
.goodsPages .pageBox .prePage{
	padding: 5px 10px;
}
.goodsPages .pageBox .currentPage{
	color: #FFFFFF;
	background-color: #000000;
	cursor: default;
	border: none;
}
.goodsPages .pageBox a{
	display: inline-block;
	padding: 5px;
	margin: 0 10px 0 0;
	min-width:20px ;
	border: 0px solid #CCCCCC;
	word-break: keep-all;
	white-space: nowrap;
	font-size: 12px;
	color: #484848;
	background-color: #E6E6E6;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	zoom: 1;
}
.goodsPages .pageBox a:hover{
	color: #FFFFFF;
	background-color: #000000;
}
.goodsPages .pageBox b{
	margin: 0 5px 0 0;
	font-size: 12px;
	font-weight: bold;
}
.goodsPages .pageBox .nextPage{
	padding: 5px 10px;
}
.goodsPages .pageBox input{
	width: 50px;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	font-family: arial,tahoma,verdana;
	outline: none;
}

/*底部*/
.footer{
	width: 100%;
	position: relative;
	height: 280px;
	background-color: #000000;
	color: #727272;
	text-align: center;
	}
.footer .footerWrap{
	width: 960px;
	height: 28px;
	margin:0 auto;
}
/*底部logo*/
.footer .footerWrap .footerLogo{
	float: right;
	width: 205px;
	height: 225px;
	overflow: hidden;
	background: url(../img/xq_bottom_img.png) no-repeat;
}
.footer .footerWrap .footerLogo a{
	display: block;
	width: 100%;
	height: 200px;
	padding: 0 5px 0 0;
	text-decoration: none;
	cursor: pointer;
	color: #484848;
}
/*名言*/
.footer .footerWrap .saying{
	height: 90px;
	padding: 25px 0 0;
	margin-right: 285px;
	margin-bottom: 35px;
}
.footer .footerWrap .saying .words{
	font-size: 18px;
	text-align: left;
	color: #FFFFFF;
}
.footer .footerWrap .saying .author{
	padding:25px 0 0;
	font-size: 14px;
	color: #FFFFFF;
	text-align: right;
}
.footer .footerWrap .saying .author em{
	padding-left: 10px;
	font-style: normal;
}
/*copyright*/
.footer .footerWrap .copyright{
	position: relative;
	top: -70px;
	padding: 5px 0 0;
	text-align: left;
	margin-top: 102px;
}
.footer .footerWrap .copyright .wayLink{
	position: relative;
	width: 597px;
	height: 54px;
}
.footer .footerWrap .copyright .wayLink a{
	float: left;
	margin: 0 5px 0 0;
	padding: 0 15px 0 0;
	color: #808285;
	text-decoration: none;
	cursor: pointer;
}
.footer .footerWrap .copyright .wayLink a i{
	height: 18px;
	padding: 0 0 0 22px;
	vertical-align: bottom;
	zoom: 1;
}
.footer .footerWrap .copyright .wayLink a .weiboLink{
	display: inline-block;
	background: url(../img/ico_common.png) no-repeat;
	background-position: -224px -5944px;
	padding-left: 26px;
}
.footer .footerWrap .copyright .wayLink a .doubanLink{
	display: inline-block;
	background: url(../img/ico_common.png) no-repeat;
	background-position: -224px -5976px;
}
.footer .footerWrap .copyright .wayLink a .renrenLink{
	display: inline-block;
	background: url(../img/ico_common.png) no-repeat;
	background-position: -224px -6016px ;
	padding-left: 36px;
}
.footer .footerWrap .copyright .wayLink a span{
	font-size:12px ;		
}
.footer .footerWrap .copyright span:nth-of-type(2){
	position: absolute;
	font-size: 12px;
	top: 8px;
	left: 288px;
}
.footer .footerWrap .copyright .footerHot{
	position: absolute;
	font-size: 12px;
	top: 8px;
	right: 245px;
}
.footer .footerWrap .copyright .footerHot a{
	text-decoration: none;
	color: #808285;
	cursor: pointer;
}
.footer .footerWrap .copyright .footerHot a:nth-of-type(2){
	padding-left: 10px;
}
/*友情链接*/
.footer .footerWrap .friendLink{
	padding: 5px 0 0;
	margin: -40px 285px 0 0;
	margin-right: 240px;
	border-top:1px solid #58595c ;
	text-align: left;
}
.footer .footerWrap .friendLink h3{
	display: inline;
	font-weight: 400;
	font-size: 12px;
	cursor: pointer;
}
.footer .footerWrap .friendLink a{
	cursor: pointer;
	font-size: 12px;
	color: #58595b;
	text-decoration: none;
	margin:0 10px;
	padding: 0;
}

.footer .footerWrap .number{
	padding-right:459px ;
	margin-top: 5px;
}
.footer .footerWrap .number a{
	padding: 0 15px 0 0;
	font-size: 12px;
	color: #484848;
	text-decoration: none;
	cursor: pointer;
}
.footer .footerWrap .number a img{
	width: 15px;
	margin-right: 5px;
	border: none;
	opacity: 1;
}
.footer .footerWrap .footerValid{
	margin-top: 5px;
	margin-right: 456px;
}
.footer .footerWrap .footerValid a{
	padding: 0 15 0 0;
	color: #484848;
	cursor: pointer;
	text-decoration: none;
}
.footer .footerWrap .footerValid a img{
	width: 83px;
	height: 30px;
	vertical-align: top;
	border: none;
	opacity: 1;
}
.footer .footerWrap a:hover{
	text-decoration: underline;
}

/*侧边固定*/
.side{
	position: fixed;
	width: 120px;
	height: 238px;
	right: 9px;
	bottom: 2px;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: 700;
}
.side .exitDownl{
	position: absolute;
	width: 23px;
	height: 23px;
	right: 0;
	top: -23px;
	background: url(../img/ico_common.png) no-repeat;
	background-position: -204px -462px;
	cursor: pointer;
}
.side .sideLogoImg{
	position: relative;
	width: 120px;
	height: 80px;
	background: url(../img/ruzhu_bottom.png) no-repeat;
	margin: 0 auto;
}
.side .sideLogoImg a{
	position: absolute;
	display: inline-block;
	width: 108px;
	height: 26px;
	bottom: 3px;
	left: 5px;
	cursor: pointer;
}
.side .sideDes{
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	margin: 16px auto 12px;
}
.side .sideErImg{
	width: 110px;
	height: 110px;
	background: url(../img/qr.png) no-repeat;
	margin: 0 auto;
}

/*回到顶部*/
.backToTop{
	display: none;
	position: fixed;
	float: left;
	width: 28px;
	height: 90px;
	right: 85px;
	bottom: 340px;
	overflow: hidden;
	background: url(../img/gotop.gif) center bottom no-repeat;
	cursor: pointer;
}
/*建议*/
.advice{
	position: fixed;
	width: 53px;
	height: 53px;
	right: 75px;
	bottom: 285px;
	overflow: hidden;
}
.advice a{
	float: left;
	width: 53px;
	height: 53px;
	background: url(../img/advice.png) no-repeat;
	text-decoration: none;
	cursor: pointer;
}