*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
body{
	min-width: 980px;
	color: #000;
	font-family: tahoma,verdana,"微软雅黑";
}
/*清除浮动*/
.clearboth{
	zoom: 1;
}
.clearboth::after{
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

/*导航条第二个下划线*/
.nav ul li:nth-of-type(2) a{
	text-decoration: none;
	font-size: 16px;
	padding: 0px 6px 6px;
	margin:  10px;
	height: 25px;
	border-bottom: 3px solid #000;
	}
	
/*内容部分*/

/*顶部分类*/
.designBox{
	width: 980px;
	height: 310px;
	margin: 6px auto 55px auto;
}
.designBox .designLine{
	height: 10px;
	border-bottom:4px solid #231F20;
	text-align: left;
}
.designBox .designLine i{
	position: relative;
	display: inline-block;
	float: left;
	width: 73px;
	height: 5px;
	top: 10px;
	left: 20px;
	background: url(../img/design_bar.png) no-repeat;
}
.designBox .designLine h2{
	position:relative;
	display: inline;
	font-size: 14px;
	top: -1px;
	left: -38px;
}

/*版区标题*/
.designBox .designCate{
	width: 994px;
}
.designBox .designCate .designList{
	width: 994px;
	margin-top: 5px;
	list-style: none;
}
.designBox .designCate .designList>li{
	float: left;
	width: 237px;
	height: 140px;
	margin-right: 11px;
	margin-bottom: 5px;
	border-bottom: 1px solid #E6E7E8;
	background-color: rgba(255,255,255,0.75);
}
.designCate .designList>li div{
	width: 235px;
	height: 138px;
	border: 1px solid #e6e7e8;
}
/*女人广场*/
.designCate .designList .ladyZone .zoneTitle{
	background: url(../img/design_list_bg1.png) no-repeat right bottom;
}
/*男人广场*/
.designCate .designList .manZone .zoneTitle{
	background: url(../img/design_list_bg2.png) no-repeat right bottom;
}
/*生活家广场*/
.designCate .designList .lifeZone .zoneTitle{
	background: url(../img/design_list_bg3.png) no-repeat right bottom;
}
/*独立设计师作品*/
.designCate .designList .designerZone .zoneTitle{
	background: url(../img/design_list_bg4.png) no-repeat right bottom;
}
/*手工作坊*/
.designCate .designList .crafterZone .zoneTitle{
	background: url(../img/design_list_bg5.png) no-repeat right bottom;
}
/*vintage小铺*/
.designCate .designList .vintageZone .zoneTitle{
	background: url(../img/design_list_bg6.png) no-repeat right bottom;
}
/*奢侈品大道*/
.designCate .designList .luxuryZone .zoneTitle{
	background: url(../img/design_list_bg7.png) no-repeat right bottom;
}
/*艺术品展厅*/
.designCate .designList .artworkZone .zoneTitle{
	background: url(../img/design_list_bg8.png) no-repeat right bottom;
}

/*板块内容*/
.designCate .designList li .zoneTitle .zoneBox{
	height: 45px;
	margin: 45px auto;
	border: none;
}
.designList li .zoneTitle .zoneBox span{
	float: left;
	display: block;
	width: 75px;
	height: 45px;
	text-align: right;
	padding-right: 13px;
	padding-top: 3px;
	margin-right: 6px;
	font-size: 14px;
	color: #231F20;
	border-right: 1px solid #6D6E70;
	margin-bottom: 50px;
}
.designList li .zoneTitle .zoneBox span a{
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}
.designList li .zoneTitle .zoneBox span a:hover{
	color: #62bbc4;
}
.designList li .zoneTitle .zoneBox ul{
	float: left;
	width: 140px;
	list-style: none;
}
.designList li .zoneTitle .zoneBox ul li{
	display: block;
	float: left;
	padding: 0 10px 5px 0;
}
.designList li .zoneTitle .zoneBox ul li a{
	padding: 2px 5px;
	font-size: 12px;
	color: #777777;
	border-radius: 30px;
	border: 1px solid transparent;
	text-decoration: none;
	cursor: pointer;
}
.designList .artworkZone .zoneTitle .zoneBox ul li a{
	color: #62bbc4;
}
.designList li .zoneTitle .zoneBox ul li a:hover{
	border: 1px solid #cc9e96;
}

/*分隔线*/
.sepLine{
	position: relative;
	width: 980px;
	margin: 0 auto 35px auto;
	padding: 0;
}
.sepLine h2{
	float: left;
	display: inline;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: 400;
	background-color: #FFFFFF;
	border-left: 5px solid #000000;
	border-right: 5px solid #000000;
	padding: 0 7px;
}
.sepLine .bestGoods{
	float: left;
	padding-left: 15px;
	background-color: #FFFFFF;
}
.sepLine .bestGoods .currentBg{
	color: #FFFFFF;
	background-color: #000000;
}
.sepLine .bestGoods a{
	float: left;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	margin: 0 10px 0 0;
	border-radius: 30px;
	white-space: nowrap;
	font-size: 12px;
	color:#808285;
	background-color: #ececec;
	text-decoration: none;
	cursor: pointer;
}
.sepLine .bestGoods a:hover{
	background-color: #515151;
	color: #FFFFFF
}
.sepLine i{
	position: absolute;
	display: inline-block;
	width: 980px;
	height: 20px;
	left: 0;
	top: 0;
	background: url(../img/site_dotted.png) repeat-x center;
	z-index: -1;
}

/*商品列表*/

/*商品内容*/
.goodsList{
	width: 1035px;
	margin: 0 auto 50px auto;
	text-align: center;
}
.goodsList .goodsContent{
	position: relative;
	width: 100%;
	/*height: 18334px;*/
}
.goodsList .goodsContent .goodsBox{
	list-style: none;
}
.goodsList .goodsContent .goodsBox li{
	float: left;
	display: inline;
	width: 290px;
	margin: 0 16.5px 16px 16.5px;
	padding: 10px 10px 19px 10px;
	text-align: left;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
}
.goodsList .goodsContent .goodsBox li:hover{
	border: 1px solid #CACACA;
}
.goodsContent .goodsBox li .goodsImg{
	position: relative;
	width: 290px;
	height: 290px;
	text-align: center;
	background-color: none;
	overflow: hidden;
}
 .goodsBox li .goodsImg a{
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}
 .goodsBox li .goodsImg a img{
	width: 290px;
	vertical-align: top;
	border: none;
}
.goodsBox li .goodsInfo{
 	width: 180px;
 	margin: 20px auto 0 auto;
 }
 .goodsBox li .goodsInfo .midLine{
 	height: 12px;
 	border-bottom: 1px solid #BBBDBF;
 }
.goodsBox li .goodsInfo .price{
	position: relative;
	width: 125px;
	height: 24px;
	line-height:24px ;
	margin: 0 auto;
	top: -12px;
	color: #000000;
	background-color: #FFFFFF;
	z-index: 9;
	overflow: hidden;
}
.goodsInfo .price>span{
	float: left;
	width: 57px;
	margin-left: 10px;
	overflow: hidden;
	font-size: 12px;
}
.goodsInfo .price .likesThis{
	float: right;
	width: 55px;
}
.goodsInfo .price .likesThis span{
	/*float: left;*/
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}
.goodsInfo .price .likesThis span i{
	display: inline-block;
	height: 15px;
	line-height: 12px;
	padding: 0 0 0 20px;
	margin: 0;
	vertical-align: middle;
	background: url(../img/like.png) no-repeat;
	zoom: 1;
	font-style: normal;
	overflow: hidden;
}
.goodsInfo .price .likesThis span:hover i{
	background: url(../img/like_h.png) no-repeat;
}
.goodsInfo .price .likesThis span:hover .likesCount dl{
	color: pink;
}
.price .likesThis .likesCount{
	position: relative;
	height: 24px;
	padding-left: 5px;
	text-align: left;
	/*overflow: hidden;*/
}
.price .likesThis .likesCount dl{
	display: block;
	position: relative;
	top: -24px;
	right: -20px;
	transition: all 1s; 
}
.price .likesThis .likesCount dl dd{
	display: block;
	width: 21px;
	height: 24px;
	font-size: 12px;
}

.goodsBox li .goodsInfo .shop{
	background-color: #FFFFFF;
}
.goodsBox li .goodsInfo .shop .shopName{
	display: block;
	width: 100%;
	margin-bottom: 16px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	background: url(../img/dot2.png) repeat-x scroll center bottom;
}
.goodsBox li .goodsInfo .shop .shopName dt{
	display: block;
	position: relative;
	width: 290px;
	height: 24px;
	left: -55px;
	margin-bottom: 6px;
	color: #000000;
	word-wrap: break-word;
	overflow: hidden;
}
.goodsBox li .goodsInfo .shop .shopName dt a{
	display: inline-block;
	height: 20px;
	padding: 2px 10px;
	color: #000000;
	overflow: hidden;
	text-decoration: none;
	cursor: pointer;
	overflow: hidden;
	border-radius: 15px;
	transition: all 1s; 
}
.goodsBox li .goodsInfo .shop .shopName dt a:hover{
	color: #FFFFFF;
	background-color: #000000;
	width: 106px;
	border-radius: 15px;
}
.shop .shopName dt a:hover span{
	display: inline-block;
}
.shop .shopName dt a span{
	display: none;
}
.shop .shopName dd{
	display: inline-block;
	height: 15px;
	line-height: 14px;
	color: #9E9E9E;
	overflow: hidden;
}
.shop .shopName dd a{
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}
.shop .shopName .shopDot{
	height: 7px;
	padding: 0 4px;
}
.shop .shopName .shopDot ins{
	float: left;
	width: 4px;
	height: 4px;
	background-color: #9E9E9E;
	border-radius: 20px;
	text-decoration: none;
}

/*加载进度*/
.loadingTips{
	display: none;
	height: 100px;
	margin: 20px auto 30px;
	background: url(../img/loading_xq.gif) center 0 no-repeat;
	background-color: #FFFFFF;
	text-align: center;
}
.loadingTips p{
	padding-top:100px ;
	color: #999999;
}
/*分页*/
.goodsPages{
	/*height: auto;*/
	padding: 20px 0 30px;
	text-align: center;
}
.goodsPages .pageBox{
	margin: 0 auto;
	vertical-align: top;
	text-align: center;
}
.goodsPages .pageBox .prePage{
	padding: 5px 10px;
}
.goodsPages .pageBox .currentPage{
	color: #FFFFFF;
	background-color: #000000;
	cursor: default;
	border: none;
}
.goodsPages .pageBox a{
	display: inline-block;
	padding: 5px;
	margin: 0 10px 0 0;
	min-width:20px ;
	border: 0px solid #CCCCCC;
	word-break: keep-all;
	white-space: nowrap;
	font-size: 12px;
	color: #484848;
	background-color: #E6E6E6;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	zoom: 1;
}
.goodsPages .pageBox a:hover{
	color: #FFFFFF;
	background-color: #000000;
}
.goodsPages .pageBox b{
	margin: 0 5px 0 0;
	font-size: 12px;
	font-weight: bold;
}
.goodsPages .pageBox .nextPage{
	padding: 5px 10px;
}
.goodsPages .pageBox input{
	width: 50px;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	font-family: arial,tahoma,verdana;
	outline: none;
}
.bottomWord{
	font-size: 18px;
	color: #BBBDBF;
	text-align: center;
	margin-bottom: 40px;
	letter-spacing: 3px;
}
/*底部*/
.footer{
	width: 100%;
	position: relative;
	height: 280px;
	background-color: #000000;
	color: #727272;
	text-align: center;
	}
.footer .footerWrap{
	width: 960px;
	height: 28px;
	margin:0 auto;
}
/*底部logo*/
.footer .footerWrap .footerLogo{
	float: right;
	width: 205px;
	height: 225px;
	overflow: hidden;
	background: url(../img/xq_bottom_img.png) no-repeat;
}
.footer .footerWrap .footerLogo a{
	display: block;
	width: 100%;
	height: 200px;
	padding: 0 5px 0 0;
	text-decoration: none;
	cursor: pointer;
	color: #484848;
}
/*名言*/
.footer .footerWrap .saying{
	height: 90px;
	padding: 25px 0 0;
	margin-right: 285px;
	margin-bottom: 35px;
}
.footer .footerWrap .saying .words{
	font-size: 18px;
	text-align: left;
	color: #FFFFFF;
}
.footer .footerWrap .saying .author{
	padding:25px 0 0;
	font-size: 14px;
	color: #FFFFFF;
	text-align: right;
}
.footer .footerWrap .saying .author em{
	padding-left: 10px;
	font-style: normal;
}
/*copyright*/
.footer .footerWrap .copyright{
	position: relative;
	top: -70px;
	padding: 5px 0 0;
	text-align: left;
	margin-top: 102px;
}
.footer .footerWrap .copyright .wayLink{
	position: relative;
	width: 597px;
	height: 54px;
}
.footer .footerWrap .copyright .wayLink a{
	float: left;
	margin: 0 5px 0 0;
	padding: 0 15px 0 0;
	color: #808285;
	text-decoration: none;
	cursor: pointer;
}
.footer .footerWrap .copyright .wayLink a i{
	height: 18px;
	padding: 0 0 0 22px;
	vertical-align: bottom;
	zoom: 1;
}
.footer .footerWrap .copyright .wayLink a .weiboLink{
	display: inline-block;
	background: url(../img/ico_common.png) no-repeat;
	background-position: -224px -5944px;
	padding-left: 26px;
}
.footer .footerWrap .copyright .wayLink a .doubanLink{
	display: inline-block;
	background: url(../img/ico_common.png) no-repeat;
	background-position: -224px -5976px;
}
.footer .footerWrap .copyright .wayLink a .renrenLink{
	display: inline-block;
	background: url(../img/ico_common.png) no-repeat;
	background-position: -224px -6016px ;
	padding-left: 36px;
}
.footer .footerWrap .copyright .wayLink a span{
	font-size:12px ;		
}
.footer .footerWrap .copyright span:nth-of-type(2){
	position: absolute;
	font-size: 12px;
	top: 8px;
	left: 288px;
}
.footer .footerWrap .copyright .footerHot{
	position: absolute;
	font-size: 12px;
	top: 8px;
	right: 245px;
}
.footer .footerWrap .copyright .footerHot a{
	text-decoration: none;
	color: #808285;
	cursor: pointer;
}
.footer .footerWrap .copyright .footerHot a:nth-of-type(2){
	padding-left: 10px;
}
/*友情链接*/
.footer .footerWrap .friendLink{
	padding: 5px 0 0;
	margin: -40px 285px 0 0;
	margin-right: 240px;
	border-top:1px solid #58595c ;
	text-align: left;
}
.footer .footerWrap .friendLink h3{
	display: inline;
	font-weight: 400;
	font-size: 12px;
	cursor: pointer;
}
.footer .footerWrap .friendLink a{
	cursor: pointer;
	font-size: 12px;
	color: #58595b;
	text-decoration: none;
	margin:0 10px;
	padding: 0;
}

.footer .footerWrap .number{
	padding-right:459px ;
	margin-top: 5px;
}
.footer .footerWrap .number a{
	padding: 0 15px 0 0;
	font-size: 12px;
	color: #484848;
	text-decoration: none;
	cursor: pointer;
}
.footer .footerWrap .number a img{
	width: 15px;
	margin-right: 5px;
	border: none;
	opacity: 1;
}
.footer .footerWrap .footerValid{
	margin-top: 5px;
	margin-right: 456px;
}
.footer .footerWrap .footerValid a{
	padding: 0 15 0 0;
	color: #484848;
	cursor: pointer;
	text-decoration: none;
}
.footer .footerWrap .footerValid a img{
	width: 83px;
	height: 30px;
	vertical-align: top;
	border: none;
	opacity: 1;
}
.footer .footerWrap a:hover{
	text-decoration: underline;
}

/*侧边固定*/
.side{
	position: fixed;
	width: 120px;
	height: 238px;
	right: 9px;
	bottom: 2px;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: 700;
}
.side .exitDownl{
	position: absolute;
	width: 23px;
	height: 23px;
	right: 0;
	top: -23px;
	background: url(../img/ico_common.png) no-repeat;
	background-position: -204px -462px;
	cursor: pointer;
}
.side .sideLogoImg{
	position: relative;
	width: 120px;
	height: 80px;
	background: url(../img/ruzhu_bottom.png) no-repeat;
	margin: 0 auto;
}
.side .sideLogoImg a{
	position: absolute;
	display: inline-block;
	width: 108px;
	height: 26px;
	bottom: 3px;
	left: 5px;
	cursor: pointer;
}
.side .sideDes{
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	margin: 16px auto 12px;
}
.side .sideErImg{
	width: 110px;
	height: 110px;
	background: url(../img/qr.png) no-repeat;
	margin: 0 auto;
}

/*回到顶部*/
.backToTop{
	display: none;
	position: fixed;
	float: left;
	width: 28px;
	height: 90px;
	right: 85px;
	bottom: 340px;
	overflow: hidden;
	background: url(../img/gotop.gif) center bottom no-repeat;
	cursor: pointer;
}
/*建议*/
.advice{
	position: fixed;
	width: 53px;
	height: 53px;
	right: 75px;
	bottom: 285px;
	overflow: hidden;
}
.advice a{
	float: left;
	width: 53px;
	height: 53px;
	background: url(../img/advice.png) no-repeat;
	text-decoration: none;
	cursor: pointer;
}
