body{
	background: url(../img/site_bg_lines_3.png) repeat scroll 0 0 transparent;
}
.header{
	width: 100%;
	position: fixed;
	z-index: 1000;
	background-color: #F7F7F7;
}
.header .headNav{
	margin: -245px auto 0;
}
/*小站导航*/
.siteNav{
	position: absolute;
	width: 100%;
	height: 175px;
	top: 0;
	left: 0;
	margin-bottom: 96px;
	border-bottom: 1px solid #E6E7E8;
	background-color: #f4f4f4;
	z-index: 100;
}
.siteNav .siteFound{
	position: absolute;
	left: 50%;
	top: 152px;
	margin-left: 405px ;
}
.siteNav .siteFound a{
	font-size: 12px;
	color: #B78B6C;
	text-decoration: none;
	cursor: pointer;
}
.siteNav .siteFound a:hover{
	color: #000000
}

.siteNav .aboutSite .siteThings{
	position: absolute;
	left: 50%;
	top: 152px;
	margin-left: -308px;
	list-style: none;
	/*z-index: 4;*/
}
.aboutSite .siteThings li{
	position: relative;
	float: left;
	height: 43px;
	margin-right: 2px;
}
.aboutSite .siteThings li .firstSite{
	color: #FFFFFF;
	background-color: #231F20;
}

.aboutSite .siteThings li .otherSite{
	color: rgb(106,104,150);
	background-color: rgb(226,226,226);
}
/*当前选中*/
.aboutSite .siteThings li .currentSite{
	color:#FFFFFF;
	background-color: #000000;
}
.aboutSite .siteThings li .otherSite:hover{
	color:#FFFFFF;
	background-color: #000000;
}
.aboutSite .siteThings li a{
	display: block;
	width: 152px;
	height: 43px;
	line-height: 43px;
	font-size: 16px;
	color: #6A6896;
	background-color: #E2E2E2;
	text-align: center;
	letter-spacing: 4px;
	border-radius: 3px;
	text-decoration: none;
	cursor: pointer;
}
/*小站内容*/
section.siteWrap .siteContent{
	position: relative;
	width: 1014px;
	margin: 245px auto 0;
	padding-left: 12px;
}
.siteContent .goodBox{
	list-style: none;
}
.siteContent .goodBox .goodSingle{
	float: left;
	margin-left: 13px;
	margin-bottom: 42px;
	padding-top: 20px;
	border: 1px solid #F1F1F2;
	border-color: rgb(241,241,242);
	background-color: #FFFFFF;
	cursor: pointer;
}
.siteContent .goodBox .goodSingle:hover{
	border-color: rgb(201,201,201);
}
.siteContent .goodBox .goodSingle a{
	background-color: #FFFFFF;
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}
.siteContent .goodBox .goodSingle .goodImg{
	display: block;
	width: 440px;
	height: 290px;
	margin-left: 20px;
	overflow: hidden;
}
.siteContent .goodBox .goodSingle .goodImg img{
	width: 440px;
	margin: -75px 0 0;
	vertical-align: top;
	border: none;
	opacity: 1;
}
.siteContent .goodBox .goodSingle .goodDes{
	display: block;
	float: left;
	position: relative;
	width: 440px;
	height: 170px;
	padding: 0 20px 20px;
}
.siteContent .goodBox .goodSingle .goodDes dl{
	display: block;
	padding-top: 20px;
}
.siteContent .goodBox .goodSingle .goodDes dl dt{
	display: block;
	height: 23px;
	margin-top: 10px;
	margin-bottom: 9px;
	letter-spacing: 2px;
	font-size: 16px;
	color: #333333;
	overflow: hidden;
}
.siteContent .goodBox .goodSingle .goodDes dl dt span{
	padding: 3px;
}
.goodDes dl dd .goodInfo{
	float: left;
	margin: 10px 0;
	color: #B78B6C;
	list-style: none;
}
.goodDes dl dd .goodInfo li{
	float: left;	
	line-height: 16px;
	margin-right: 10px;
	font-size: 12px;
}
.goodDes dl dd .goodInfo li img{
	float: left;
	width: 16px;
	height: 16px;
	border-radius: 30px;
	vertical-align: top;
	border: none;
}
.goodDes dl dd .goodInfo li ins{
	float: left;
	width: 22px;
	height: 16px;
	margin-right: 4px;
	text-decoration: none;
}
.goodDes dl dd .goodInfo li .goodNum{
	background: url(../img/post-count.png) no-repeat;
}
.goodDes dl dd .goodInfo li .goodView{
	background: url(../img/post-view.png) no-repeat;
}
.goodDes dl dd .goodInfo li .goodComment{
	background: url(../img/post-comment.png) no-repeat;
}
.goodDes dl .goodSale{
	width: 440px;
	height: 35px;
	line-height: 1.5em;
	padding-left: 3px;
	font-size: 12px;
	color: #777777;
	overflow: hidden;
}
.goodDes dl .goodDate{
	margin-top: 25px;
	text-align: right;
	font-size: 12px;
	color: #bbbbbb;
}
.goodDes dl .goodDate span{
	padding-right:20px ;
}
